.featuredby-container {
    margin-top: 120px;
    margin-bottom: 530px;
}

.featuredby-heading-1 {
    font-family: Ethereal;
    text-align: center;
}

.trusted-brand {
    margin-top: 50px;
    margin-bottom: 120px;
}